/** Styling for SOS Order Entity Form **/
#commerce-sos-order-form {
  font-family: 'Lucida Grande';
  font-size: 16px;

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  .strong {
    font-weight: bold;
  }

  .form-item {
    label {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 7px;
    }

    &.form-type-checkbox {
      label {
        font-size: inherit;
        position: relative;
        top: 1px;
        padding-left: 3px;
      }
    }

    .form-select {
      width: 150px;
      height: 25px;
    }

    &.form-type-textfield {
      input {
        height: 25px;
        width: 250px;
      }

      &.form-item-product-search {
        background-color: #F5F5F2;
        border-radius: 8px;
        padding: 10px;

        h3 {
          text-transform: uppercase;
        }
      }
    }
  }

  #edit-submit {
    background: #498DE0;
    color: #fff;
    border: 0;
    padding: 10px 20px;
  }

  fieldset {
    border-radius: 8px;

    &#edit-customer-info,
    &#products-fieldset {
      border: 0 none;

      &#products-fieldset {
        padding-top: 20px;
      }

      span.fieldset-legend {
        padding-left: 0px;
        font-size: 24px;

        h3 {
          text-transform: none;
          display: inline;
        }

        span {
          font-size: 14px;
        }

        #sos-customer-link,
        #sos-old-order-link {
          display: inline;
          padding-left: 10px;
          font-size: 14px;

          &#sos-old-order-link {
            padding-left: 0px;

            a {
              color: #cc2127;
            }
          }
        }
      }

      .fieldset-wrapper {
        padding-left: 0px;

        #sos-order-billing-address,
        #sos-order-shipping-address {
          border: 1px solid #ccc;
          display: inline-block;
          width: 45%;
          padding: 20px;
          margin: 10px 15px;
          border-radius: 8px;
          height: 220px;
          max-height: 220px;
          vertical-align: top;

          &#sos-order-billing-address {
            margin-left: 0px;
          }

          > div {
            padding-bottom: 10px;

            &.sos-address-header {
              text-transform: capitalize;
              font-weight: bold;
            }
          }
        }
      }
    }

    // Products & Gift Card Results Table.
    #sos-products-table {
      clear: both;
      border-collapse: separate;
      border-spacing: 0px 15px;
      border: 0 none;

      th {
        background-color: #F5F5F2;
        border: 0 none;
        padding: 8px;
        font-weight: bold;
        text-align: center;

        &:nth-child(-n+1) {
          text-align: left;
        }
      }

      tr {
        td {
          background-color: #fff;
          padding: 5px 10px;
          border: 1px solid #ccc;
          text-align: center;

          &:nth-child(-n+1) {
            text-align: left;
          }

          &.sos-quantity {
            input.form-submit {
              padding: 4px 8px;
              margin-right: 0px;
              top: 0px;
            }
          }

          &.sos-not-enough-stock {
            border: 2px solid red;
            color: red;
            font-weight: bold;
          }

          .sos-product-title,
          .sos-product-title-attributes {
            text-align: left;
            padding-left: 10px;

            &.sos-product-title {
              font-weight: bold;
            }
          }

          .form-item {
            display: inline-block;
            padding: 10px;

            &.form-type-textfield,
            &.form-type-select {
              input {
                width: 25px;
                text-align: center;
              }
            }

            .description {
              display: none;
            }
          }

          .sos-remove-discount-link {
            border: 0 none;
            background: none;
            color: $primary;
            text-decoration: none;
            padding: 4px;
          }

          input.form-submit,
          .commerce-sos-discount-wrapper,
          .sos-show-line-item-attributes {
            position: relative;
            top: 5px;

            &.commerce-sos-discount-wrapper {
              input.form-submit {
                top: 0px;
              }
            }
          }
        }

        &.even {
          td {
            background-color: #F5F5F2;

            .option-widgets {
              display: inline-block;

              .form-item {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }

  // Vertical Tabs.
  #sos-vertical-tabs-wrapper {
    margin-bottom: 30px;
    clear: both;

    #sos-add-order-discount-wrapper {
      fieldset.form-wrapper {
        border: 0 none;
      }

      #sos-previous-order-discount {
        #sos-order-discount-value {
          font-weight: bold;
          float: left;
        }

        input.form-submit {
          border: 0 none;
          background: none;
          color: $primary;
          text-decoration: none;
          top: -6px;
          position: relative;
          padding: 4px;
        }
      }

      .form-item {
        display: inline-block;
        padding: 10px;

        &.form-type-textfield,
        &.form-type-select {
          input {
            width: 60px;
            height: 25px;
          }
        }

        &.form-item-vertical-tabs-order-discount-add-order-discount-amount {
          padding: 10px;
          float: left;
          width: 50px;

          .description {
            width: 250px;
          }
        }

        &.form-item-vertical-tabs-order-discount-add-order-discount-type {
          float: left;
          clear: right;
          width: 150px;
        }
      }

      input.form-submit {
        position: relative;
        top: 5px;
      }

      #sos-previous-order-discount {
        padding: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    }

    #sos-add-coupon-wrapper {
      fieldset.form-wrapper {
        border: 0 none;

        fieldset.form-wrapper {
          border: 0 none;
          background: none;
          margin: 0px;
          padding-top: 0px;
        }
      }
      .form-item {
        display: inline-block;
        padding: 10px 5px;
        float: left;

        &.form-type-textfield,
        &.form-type-select {
          input {
            width: 60px;
            height: 25px;
          }
        }

        &.form-item-vertical-tabs-coupons-add-coupon-search {
          padding: 10px;
          float: left;
          width: 350px;

          input {
            width: inherit;
          }

          .description {
            width: 400px;
          }
        }
      }

      input.form-submit {
        position: relative;
        top: 5px;
      }

      .sos-previous-coupon-remove {
        position: relative;
        top: 40px;

        span {
          position: relative;
          top: -5px;
        }

        input.form-submit {
          border: 0 none;
          background: none;
          color: $primary;
          text-decoration: none;
          top: -4px;
          position: relative;
          padding: 4px;
        }
      }

      #sos-gift-cart-text {
        padding-top: 10px;
      }
    }

    #sos-add-note-important-description {
      font-weight: bold;
      padding-bottom: 10px;

      span {
        color: red;
      }
    }

    .advanced-vertical-tabs.form-wrapper {
      border: 0 none;
    }
  }

  // Order Total Summary.
  #sos-order-total-summary {
    height: 100px;
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    font-size: 28px;
    background-color: #0074BD;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .form-item {
      margin-bottom: 0px;
    }

    table.commerce-sos-order-total-summary-table {
      border: 0 none;
      text-align: center;
      font-size: 22px;
      font-weight: bold;

      tr {
        border: 0 none;

        td {
          background-color: #0074BD;
          color: #fff;

          .field-value {
            text-align: center;
            padding-bottom: 10px;
          }

          .field-label {
            font-size: 14px;
            text-align: center;
            font-weight: normal;
          }

          &:last-child {
            border-left: 1px solid #bebfb9;
            border-right: 0 none;
          }
        }
      }
    }
  }

  #sos-finish-buttons-wrapper {
    margin-bottom: 100px;
  }

  #sos-order-total-summary-view {
    float: right;
    position: relative;
    top: -30px;
    margin-right: 10px;

    .form-item {
      padding-top: 0px;
    }

    table.commerce-sos-order-total-summary {
      border: 0 none;

      tr {
        border: 0 none;
        background-color: #fff;
        text-align: right;

        &:last-child {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 18px;
        }

        td {
          padding: 5px 10px;

          &:last-child {
            border-right: 0 none;
          }
        }
      }
    }
  }

  // Styling for the horizontal payment tabs.
  #sos-horizontal-tabs-wrapper {
    clear: right;
    margin-bottom: 100px;
    width: 42%;

    .horizontal-tabs {
      border: 0 none;

      ul.horizontal-tabs-list {
        border: 0 none;
        background-color: #fff;

        li {
          border-radius: 8px 8px 0px 0px;
          margin-right: 10px;
          border: 1px solid #ccc;

          &.selected {
            border-bottom: 2px solid #fff;
            position: relative;
            z-index: 10;
          }
        }
      }

      .horizontal-tabs-panes {
        border: 1px solid #ccc;
        border-radius: 0px 8px 8px 8px;
        position: relative;
        top: -6px;

        fieldset.payment-terminal {
          .form-item {
            .form-select {
              width: 50px;
            }
          }

          .payment-terminal-amount {
            display: inline-block;
            margin-right: 5px;

            .form-item {
              display: inline-block;
            }

            .form-item-horizontal-tabs-payment-terminal-amount {
              input {
                width: 100px;
              }
            }
          }

          .form-item-horizontal-tabs-payment-terminal-amount-type,
          .form-item-horizontal-tabs-payment-terminal-payment-details-credit-card-code {
            display: inline-block;

            input {
              width: 50px;
            }

            .form-select {
              width: 100px;
            }
          }

          .commerce-credit-card-expiration {
            display: inline-block;
            margin-right: 20px;
          }

          input.form-submit, a.button.print-order-details {
            display: inline-block;
          }
        }

        #sos-balance-message {
          border: 2px solid #3399FF;
          border-radius: 8px;
          padding: 20px 10px;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 10px;

          #remaining-amount,
          #payment-completed {
            font-size: 12px;

            &#payment-completed {
              font-size: 12px;
              color: green;
              font-weight: bold;
              text-transform: uppercase;
            }
          }

          span {
            color: #0074bd;
            font-weight: bold;
          }
        }

        fieldset.gift-card {
          .form-item-horizontal-tabs-gift-card-search {
            display: inline-block;
          }

          input.form-submit {
            position: relative;
            top: -29px;
            margin-left: 10px;
          }

          #sos-gc-results-table {
            th, td {
              text-align: center;

              input.form-submit {
                top: 7px;
                margin-left: 0px;
                text-align: center;
              }
            }

            .form-type-textfield {
              input {
                width: 100px;
              }
            }
          }

          #sos-previous-gc-fieldset {
            fieldset.form-wrapper {
              border: 0 none;

              #sos-previous-gift-cards-table {
                border: 0 none;

                tr {
                  border: 0 none;
                  border-top: 1px solid #bebfb9;
                  border-bottom: 1px solid #bebfb9;

                  td {
                    padding: 0px 5px;
                    text-align: center;
                    border: 0 none;

                    label {
                      display: inline;
                    }
                  }
                }

                input.form-submit {
                  top: 7px;
                  margin-left: 0px;
                }
              }
            }
          }
        }
      }
    }
  }

  .blue-primary-button {
    display: block;
    background: none;
    background-color: #0075bd;
    color: #fff;
    padding: 8px 20px;
    margin-bottom: 25px;
  }

  // Product modified popup container.
  #sos-product-modified-container {
    .popup-container {
      left: 50%;
      top: 50%;
      width: auto;
      min-width: 35em;
      margin-top: -9em;
      margin-left: -15em;
      border: 2px solid #ccc;
      background-color: #fff;
      position: absolute;
      z-index: 10;
      border-radius: 4px;
      font-size: 15px;
      text-align: center;

      #edit-product-modified-container-message {
        background-color: gray;
        color: #fff;
      }

      #edit-product-modified-container-product-info,
      #edit-product-modified-container-add-back-to-stock {
        padding: 10px 20px;

        .form-type-checkbox {
          padding-top: 20px;
          margin-bottom: 20px;

          // Checkbox checked.
          &.commerce-sos-checkbox-checked {
            background-color: #E7F2D8;
          }

          input {
            vertical-align: top;
            margin-right: 10px;
          }
        }

        #product-image {
          display: inline-block;
        }

        #product-details {
          display: inline-block;
          text-align: left;
          font-size: 13px;
          width: 300px;
          vertical-align: top;
          padding-left: 30px;
          position: relative;
          top: -10px;
          font-weight: normal;

          #product-title {
            font-weight: bold;
          }
        }
      }
    }
  }

  #sos-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
  }
  #sos-spacer {
    clear: both;
  }
}

#commerce-sos-order-form.view,
#commerce-sos-order-form.payment {
  h3 {
    padding-top: 20px;
  }

  #sos-customer-information,
  #sos-products-table-wrapper {
    fieldset.form-wrapper {
      padding-top: 0px !important;

      &#edit-customer-info {
        padding: 2.5em 0 0 0 !important;
      }
    }
  }

  &#commerce-sos-order-form.payment {
    input.sos-view-payment-details-button {
      position: relative;
      top: -70px;
    }
  }

  #sos-vertical-tabs-wrapper {
    clear: right;
    margin-bottom: 30px;
  }

  .form-item-email-customer-receipt {
    margin-top: -70px;
    margin-bottom: 25px;
  }

  #sos-stock-note {
    margin-bottom: 100px;
    margin-top: 10px;
    font-size: 14px;

    span {
      font-weight: bold;
    }
  }
}

// Create New Order Form.
#commerce-sos-create-new-order-form,
#commerce-sos-create-new-customer-form {
  font-family: 'Lucida Grande';
  font-size: 16px;

  &#commerce-sos-create-new-customer-form {
    input.form-submit {
      margin-left: 25px;
    }
  }

  input.form-submit {
    background: none;
    background-color: #0074BD;
    color: #fff;
    position: relative;
    top: 2px;
  }

  #sos-new-customer-fieldset {
    fieldset.form-wrapper {
      border: 0 none;
    }

    .form-item-new-customer-fieldset-customer-email-address,
    .form-item-new-customer-fieldset-email-customer {
      margin-left: 15px;
    }
  }

  .form-item-existing-customer-email,
  .form-item-existing-customer-name,
  .form-item-existing-customer-address {
    display: inline-block;
    margin: 0px 10px;

    input {
      width: 250px;
      height: 25px;
    }
  }

  #sos-existing-customers-table {
    fieldset.form-wrapper {
      border-radius: 8px;
    }

    table {
      th {
        background-color: #F5F5F2;
        border: 0 none;
        padding: 8px;
        font-weight: bold;
        text-align: center;
      }

      tr {
        td {
          background-color: #fff;
          padding: 5px 10px;
          border: 1px solid #ccc;
          text-align: center;

          input.form-submit {
            top: 5px;
          }
        }
      }
    }
  }
}
