/** Styling for SOS Order Manager Views **/
.view-commerce-sos-order-manager,
.view-commerce-sos-order-messages,
#sos-gc-search-results-fieldset,
#sos-previous-gc-fieldset,
.view-commerce-sos-order-revisions,
.view-commerce-sos-order-history {
  font-family: 'Lucida Grande';
  font-size: 16px;

  .views-exposed-widgets {
    padding: 15px;
    background-color: #F5F5F2;
    border-radius: 8px;
    margin-bottom: 20px;

    .form-select {
      width: 200px;
      height: 25px;
    }

    .form-type-textfield {
      input {
        height: 18px;
      }
    }
  }

  .views-table,
  #sos-gc-results-table,
  #sos-previous-gift-cards-table {
    th {
      background-color: #F5F5F2;
      border: 0 none;
      padding: 8px;
      font-weight: bold;
    }

    td {
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ccc;
    }
  }

  input.form-submit {
    background: none;
    background-color: #0074BD;
    color: #fff;
  }
}

.commerce-sos.order-id {
  font-size: 30px;
  font-weight: bold;

  .field, .label {
    color: #000;
  }
}
